xml-resources/web-service-references/KTS-Service-Server/wsdl/localhost_15719/KnowThySelf/KTS-Service-Server.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tkwebhosts.co.uk/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tkwebhosts.co.uk/" name="KTS-Service-Server">
<types>
<xsd:schema>
<xsd:import namespace="http://tkwebhosts.co.uk/" schemaLocation="http://localhost:15719/KnowThySelf/KTS-Service-Server?xsd=1"/>
</xsd:schema>
</types>
<message name="getDayOfBirth">
<part name="parameters" element="tns:getDayOfBirth"/>
</message>
<message name="getDayOfBirthResponse">
<part name="parameters" element="tns:getDayOfBirthResponse"/>
</message>
<message name="getMonthOfBirth">
<part name="parameters" element="tns:getMonthOfBirth"/>
</message>
<message name="getMonthOfBirthResponse">
<part name="parameters" element="tns:getMonthOfBirthResponse"/>
</message>
<message name="getDateOfBirth">
<part name="parameters" element="tns:getDateOfBirth"/>
</message>
<message name="getDateOfBirthResponse">
<part name="parameters" element="tns:getDateOfBirthResponse"/>
</message>
<message name="welcomeUser">
<part name="parameters" element="tns:welcomeUser"/>
</message>
<message name="welcomeUserResponse">
<part name="parameters" element="tns:welcomeUserResponse"/>
</message>
<message name="getZodiacSign">
<part name="parameters" element="tns:getZodiacSign"/>
</message>
<message name="getZodiacSignResponse">
<part name="parameters" element="tns:getZodiacSignResponse"/>
</message>
<portType name="KTS-Service-Server">
<operation name="getDayOfBirth">
<input wsam:Action="http://tkwebhosts.co.uk/KTS-Service-Server/getDayOfBirthRequest" message="tns:getDayOfBirth"/>
<output wsam:Action="http://tkwebhosts.co.uk/KTS-Service-Server/getDayOfBirthResponse" message="tns:getDayOfBirthResponse"/>
</operation>
<operation name="getMonthOfBirth">
<input wsam:Action="http://tkwebhosts.co.uk/KTS-Service-Server/getMonthOfBirthRequest" message="tns:getMonthOfBirth"/>
<output wsam:Action="http://tkwebhosts.co.uk/KTS-Service-Server/getMonthOfBirthResponse" message="tns:getMonthOfBirthResponse"/>
</operation>
<operation name="getDateOfBirth">
<input wsam:Action="http://tkwebhosts.co.uk/KTS-Service-Server/getDateOfBirthRequest" message="tns:getDateOfBirth"/>
<output wsam:Action="http://tkwebhosts.co.uk/KTS-Service-Server/getDateOfBirthResponse" message="tns:getDateOfBirthResponse"/>
</operation>
<operation name="welcomeUser">
<input wsam:Action="http://tkwebhosts.co.uk/KTS-Service-Server/welcomeUserRequest" message="tns:welcomeUser"/>
<output wsam:Action="http://tkwebhosts.co.uk/KTS-Service-Server/welcomeUserResponse" message="tns:welcomeUserResponse"/>
</operation>
<operation name="getZodiacSign">
<input wsam:Action="http://tkwebhosts.co.uk/KTS-Service-Server/getZodiacSignRequest" message="tns:getZodiacSign"/>
<output wsam:Action="http://tkwebhosts.co.uk/KTS-Service-Server/getZodiacSignResponse" message="tns:getZodiacSignResponse"/>
</operation>
</portType>
<binding name="AppWebPortBinding" type="tns:KTS-Service-Server">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getDayOfBirth">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMonthOfBirth">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDateOfBirth">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="welcomeUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getZodiacSign">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="KTS-Service-Server">
<port name="AppWebPort" binding="tns:AppWebPortBinding">
<soap:address location="http://localhost:15719/KnowThySelf/KTS-Service-Server"/>
</port>
</service>
</definitions>