src/META-INF/wsdl/localhost_15719/KnowThySelfWebService/KnowThySelfWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tkwebhosts.co.uk/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tkwebhosts.co.uk/" name="KnowThySelfWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://tkwebhosts.co.uk/" schemaLocation="http://localhost:15719/KnowThySelfWebService/KnowThySelfWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="welcomeUser">
<part name="parameters" element="tns:welcomeUser"/>
</message>
<message name="welcomeUserResponse">
<part name="parameters" element="tns:welcomeUserResponse"/>
</message>
<message name="getDayOfBirth">
<part name="parameters" element="tns:getDayOfBirth"/>
</message>
<message name="getDayOfBirthResponse">
<part name="parameters" element="tns:getDayOfBirthResponse"/>
</message>
<message name="getMonthOfBirth">
<part name="parameters" element="tns:getMonthOfBirth"/>
</message>
<message name="getMonthOfBirthResponse">
<part name="parameters" element="tns:getMonthOfBirthResponse"/>
</message>
<message name="getDateOfBirth">
<part name="parameters" element="tns:getDateOfBirth"/>
</message>
<message name="getDateOfBirthResponse">
<part name="parameters" element="tns:getDateOfBirthResponse"/>
</message>
<message name="getZodiacSign">
<part name="parameters" element="tns:getZodiacSign"/>
</message>
<message name="getZodiacSignResponse">
<part name="parameters" element="tns:getZodiacSignResponse"/>
</message>
<message name="getFaveColor">
<part name="parameters" element="tns:getFaveColor"/>
</message>
<message name="getFaveColorResponse">
<part name="parameters" element="tns:getFaveColorResponse"/>
</message>
<message name="getFaveFood">
<part name="parameters" element="tns:getFaveFood"/>
</message>
<message name="getFaveFoodResponse">
<part name="parameters" element="tns:getFaveFoodResponse"/>
</message>
<message name="getFaveDrink">
<part name="parameters" element="tns:getFaveDrink"/>
</message>
<message name="getFaveDrinkResponse">
<part name="parameters" element="tns:getFaveDrinkResponse"/>
</message>
<message name="findZodiac">
<part name="parameters" element="tns:findZodiac"/>
</message>
<message name="findZodiacResponse">
<part name="parameters" element="tns:findZodiacResponse"/>
</message>
<portType name="KnowThySelfWebService">
<operation name="welcomeUser">
<input wsam:Action="http://tkwebhosts.co.uk/KnowThySelfWebService/welcomeUserRequest" message="tns:welcomeUser"/>
<output wsam:Action="http://tkwebhosts.co.uk/KnowThySelfWebService/welcomeUserResponse" message="tns:welcomeUserResponse"/>
</operation>
<operation name="getDayOfBirth">
<input wsam:Action="http://tkwebhosts.co.uk/KnowThySelfWebService/getDayOfBirthRequest" message="tns:getDayOfBirth"/>
<output wsam:Action="http://tkwebhosts.co.uk/KnowThySelfWebService/getDayOfBirthResponse" message="tns:getDayOfBirthResponse"/>
</operation>
<operation name="getMonthOfBirth">
<input wsam:Action="http://tkwebhosts.co.uk/KnowThySelfWebService/getMonthOfBirthRequest" message="tns:getMonthOfBirth"/>
<output wsam:Action="http://tkwebhosts.co.uk/KnowThySelfWebService/getMonthOfBirthResponse" message="tns:getMonthOfBirthResponse"/>
</operation>
<operation name="getDateOfBirth">
<input wsam:Action="http://tkwebhosts.co.uk/KnowThySelfWebService/getDateOfBirthRequest" message="tns:getDateOfBirth"/>
<output wsam:Action="http://tkwebhosts.co.uk/KnowThySelfWebService/getDateOfBirthResponse" message="tns:getDateOfBirthResponse"/>
</operation>
<operation name="getZodiacSign">
<input wsam:Action="http://tkwebhosts.co.uk/KnowThySelfWebService/getZodiacSignRequest" message="tns:getZodiacSign"/>
<output wsam:Action="http://tkwebhosts.co.uk/KnowThySelfWebService/getZodiacSignResponse" message="tns:getZodiacSignResponse"/>
</operation>
<operation name="getFaveColor">
<input wsam:Action="http://tkwebhosts.co.uk/KnowThySelfWebService/getFaveColorRequest" message="tns:getFaveColor"/>
<output wsam:Action="http://tkwebhosts.co.uk/KnowThySelfWebService/getFaveColorResponse" message="tns:getFaveColorResponse"/>
</operation>
<operation name="getFaveFood">
<input wsam:Action="http://tkwebhosts.co.uk/KnowThySelfWebService/getFaveFoodRequest" message="tns:getFaveFood"/>
<output wsam:Action="http://tkwebhosts.co.uk/KnowThySelfWebService/getFaveFoodResponse" message="tns:getFaveFoodResponse"/>
</operation>
<operation name="getFaveDrink">
<input wsam:Action="http://tkwebhosts.co.uk/KnowThySelfWebService/getFaveDrinkRequest" message="tns:getFaveDrink"/>
<output wsam:Action="http://tkwebhosts.co.uk/KnowThySelfWebService/getFaveDrinkResponse" message="tns:getFaveDrinkResponse"/>
</operation>
<operation name="findZodiac">
<input wsam:Action="http://tkwebhosts.co.uk/KnowThySelfWebService/findZodiacRequest" message="tns:findZodiac"/>
<output wsam:Action="http://tkwebhosts.co.uk/KnowThySelfWebService/findZodiacResponse" message="tns:findZodiacResponse"/>
</operation>
</portType>
<binding name="AppWebPortBinding" type="tns:KnowThySelfWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="welcomeUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDayOfBirth">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMonthOfBirth">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDateOfBirth">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getZodiacSign">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFaveColor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFaveFood">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFaveDrink">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findZodiac">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="KnowThySelfWebService">
<port name="AppWebPort" binding="tns:AppWebPortBinding">
<soap:address location="http://localhost:15719/KnowThySelfWebService/KnowThySelfWebService"/>
</port>
</service>
</definitions>